<section class="blog-item">
    <div class="blog-item__title">{{ currentLink?.title }}</div>
    <div class="blog-item__metadata">
        <span class="blog-item__metadata-date">{{ currentLink?.date }}</span>
        <span class="blog-item__metadata-tag">{{ currentLink?.tag }}</span>
    </div>
    <img
        class="blog-item__image"
        [src]="currentLink?.thumbnail"
        alt="thumbnail"
    />
    <div class="blog-item__content line-numbers">
        <scully-content></scully-content>
    </div>
</section>
