:host {
    --blog-item-padding: 5px;
    --blog-item-two-padding: 10px;
    --blog-item-margin: 10px;
}

.blog-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog-item__title {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-black-night);

    margin: calc(var(--blog-item-margin) * 2) 0;
}

.blog-item__metadata {
    width: 100%;

    font-weight: 700;
    color: var(--color-grey-dark);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.blog-item__image {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.blog-item__content {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    line-height: 1.875;
    width: 100%;
}

.blog-item__content > h3 {
    color: var(--color-green-moss-old);
}

.blog-item__content > h2,
h4 {
    color: var(--color-green-moss-dark);
}

/* Blog - Code blocks */
pre {
    width: calc(100% - (3.8em + 1em));
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1em;
    /* padding-left: 3.8em; in the line-numbers class */
    margin: 0;

    overflow-x: scroll;
}

/* Blog - Images */
p > img {
    width: 100%;
}
