<section id="about">
    <p class="about__p">
        Welcome to the <span>Balanced Coder</span> blog! Here I write about the
        development topics I'm interested in. On this blog you will find all
        sorts of things, but a major part of it will be related to web
        development and microservices. Check out some of the latest pieces I
        wrote
        <a class="blog__nav-link" routerLink="/balanced-coder/blog">here</a>.
    </p>
    <img
        class="about__image"
        src="assets/images/balance-maxi.png"
        alt="balance"
    />
    <p class="about__p">
        There is a lot going on in the IT industry. People always have their own
        theories on how to solve a problem. Since the beginning of my coding
        history I've always strived to investigate a problem from multiple
        angles. My thinking is that the only way to find a best solution is to
        analyze all possible ones. I learned that it is not useful to be highly
        opinionated about a platform, language, paradigm or basically anything.
        That is simply too limiting. The best solution is most of times a
        compromise between oposing views.
    </p>
    <p class="about__p">
        I decided to name my blog <span>Balanced Coder</span> (and put an icon
        of balancing rocks as the blog's symbolic logo) so I can signify the
        subtheme of my work. I simply love finding the best solution out there.
        The key is in the <span>balance!</span>
    </p>
</section>
