#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.about__p {
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.875;
}

.about__p > span {
    font-weight: 500;
    color: var(--color-black-nuance);
}

.about__image {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
