<section id="about">
    <p class="about__p">Welcome to the <span>Slow Programmer</span> blog!</p>
    <p class="about__p">
        Here I write about the development topics I'm interested in. On this
        blog you will find all sorts of things, but a major part of it will be
        related to web development and microservices.
    </p>
    <p class="about__p">
        There is a lot going on in the IT industry, but try not to get in the
        rush. Do as I do - just make a constant progress and take it slow!
    </p>
    <img class="about__image" src="assets/images/snail-left.png" alt="snail" />
    <p class="about__p">
        Check out some of the latest pieces I wrote
        <a class="blog__nav-link" routerLink="/slow-programmer/blog">here</a>.
    </p>
</section>
