<section class="blog-thumbnail" (click)="openBlogItem()">
    <img
        [ngStyle]="{ display: isLoading ? 'none' : '' }"
        class="blog-thumbnail__image"
        [src]="thumbnail"
        alt="thumbnail"
        (load)="turnOffLoading()"
        (error)="turnOffLoading()"
    />
    <div *ngIf="isLoading" class="blog-thumbnail__loader">
        <span></span><span></span><span></span>
    </div>
    <div class="blog-thumbnail__text">
        <div class="blog-thumbnail__title">{{ title }}</div>
        <div class="blog-thumbnail__description">{{ description }}</div>
        <div class="blog-thumbnail__metadata">
            <span>{{ date }}</span>
            <span>{{ tag }}</span>
        </div>
    </div>
</section>
