/* Variables */
:host {
    --thumbnail-width-narrow: 300px;
    --thumbnail-height-narrow: 360px;
    --thumbnail-width-wide: 600px;
    --thumbnail-height-wide: 180px;

    --thumbnail-padding: 5px;
    --thumbnail-two-padding: 10px;
    --thumbnail-margin: 10px;
}

/* 1st level */
.blog-thumbnail {
    width: var(--thumbnail-width-narrow);
    height: var(--thumbnail-height-narrow);

    box-shadow: 0 2px 5px var(--shadow-black-night);

    padding: 0px 0px var(--thumbnail-padding);
    margin: var(--thumbnail-margin);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transition: all 0.3s ease-in;
    cursor: pointer;
}
.blog-thumbnail:hover {
    box-shadow: 0 4px 5px var(--shadow-black-night);
    transform: scale(1.05, 1.05);
}
@media (min-width: 650px) {
    .blog-thumbnail {
        width: var(--thumbnail-width-wide);
        height: var(--thumbnail-height-wide);

        padding: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

/* 2nd level */
.blog-thumbnail__loader {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-black-night);

    width: var(--thumbnail-width-narrow);
    height: calc(var(--thumbnail-height-narrow) / 2);
}
@media (min-width: 650px) {
    .blog-thumbnail__loader {
        width: calc(var(--thumbnail-width-wide) * 1 / 3);
        height: var(--thumbnail-height-wide);
    }
}
.blog-thumbnail__loader span {
    padding: 3px;
    margin: 3px;
    border-radius: 100%;
    border: 2px solid var(--color-green-moss-old);
}

.blog-thumbnail__image {
    width: var(--thumbnail-width-narrow);
    height: calc(var(--thumbnail-height-narrow) / 2);

    object-fit: cover;
}
@media (min-width: 650px) {
    .blog-thumbnail__image {
        width: calc(var(--thumbnail-width-wide) * 1 / 3);
        height: var(--thumbnail-height-wide);
    }
}

.blog-thumbnail__text {
    width: calc(var(--thumbnail-width-narrow) - var(--thumbnail-two-padding));
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--color-green-moss-dark);
}
@media (min-width: 650px) {
    .blog-thumbnail__text {
        flex: 0 1 calc(var(--thumbnail-width-wide) * 2 / 3);

        height: calc(
            var(--thumbnail-height-wide) - var(--thumbnail-two-padding)
        );

        padding: var(--thumbnail-padding) var(--thumbnail-two-padding);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/* 3rd level */
.blog-thumbnail__title {
    font-size: 20px;
    font-weight: 400;

    margin: var(--thumbnail-margin) 0;
    color: black;

    flex: 0 1 auto;
    overflow: hidden;
}

.blog-thumbnail__description {
    font-size: 15px;
    font-weight: 300;

    max-height: 87px;
    flex: 0 1 auto;

    overflow-x: hidden;
    overflow-y: scroll;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.blog-thumbnail__description::-webkit-scrollbar {
    display: none;
}

.blog-thumbnail__metadata {
    width: calc(var(--thumbnail-width-narrow) - var(--thumbnail-two-padding));

    font-weight: 400;
    color: var(--color-grey-dark);

    flex: 1 0 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
@media (min-width: 650px) {
    .blog-thumbnail__metadata {
        width: calc(
            var(--thumbnail-width-wide) * 2 / 3 - var(--thumbnail-two-padding) *
                2
        );
    }
}
