.blog-thumbnail {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 9px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
