<section class="blog-thumbnail" (click)="openBlogItem()">
    <img
        class="blog-thumbnail__image"
        [src]="thumbnail"
        alt="thumbnail"
        (load)="onLoad()"
        (error)="onLoad()"
    />
    <div class="blog-thumbnail__text">
        <div class="blog-thumbnail__title">{{ title }}</div>
        <div class="blog-thumbnail__description">{{ description }}</div>
        <div class="blog-thumbnail__metadata">
            <span
                ><span *ngFor="let tag of tags">[ {{ tag }} ]</span>
            </span>
            <span>{{ date }}</span>
        </div>
    </div>
</section>
