<section id="blog">
    <header routerLink="/balanced-coder/about">
        <h1 class="blog__header-1">Balanced Coder</h1>
        <h2 class="blog__header-2">Blog by DarkMannn</h2>
    </header>
    <nav>
        <a
            class="blog__nav-link"
            routerLink="/balanced-coder/about"
            routerLinkActive="blog__nav-link--active"
            >ABOUT</a
        >
        <a
            class="blog__nav-link"
            routerLink="/balanced-coder/blog"
            routerLinkActive="blog__nav-link--active"
            >BLOG</a
        >
        <a
            class="blog__nav-link"
            routerLink="/balanced-coder/author"
            routerLinkActive="blog__nav-link--active"
            >AUTHOR</a
        >
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <div class="blog__footer-brand">{{ YEAR }} © Balanced Coder</div>
    </footer>
</section>
