/* First level elements */
#blog {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-areas:
        'gapL header gapR'
        'gapL nav gapR'
        'gapL main gapR'
        'gapL footer gapR';
    grid-template-rows: var(--header-height) var(--nav-height) 1fr var(
            --footer-height
        );
    grid-template-columns: minmax(3vw, 1fr) minmax(300px, 700px) minmax(
            3vw,
            1fr
        );
}

#blog > header {
    grid-area: header;
    border-bottom: 1px solid var(--color-black-night);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blog > nav {
    grid-area: nav;
    border-bottom: 1px solid var(--color-black-night);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#blog > main {
    padding: 20px 0 10px;
    grid-area: main;
    border-bottom: 1px solid var(--color-black-night);
}

#blog > footer {
    grid-area: footer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Classes */
.blog__header-1 {
    margin: 0;

    font-family: 'Roboto';
    font-weight: 100;
    font-size: 55px;
}

.blog__header-2 {
    margin: 0;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
}

.blog__nav-link {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-khaki-dark);

    transition: color 0.15s, transform 0.15s;
    transition-timing-function: ease-in-out;

    padding: 5px;
}

.blog__nav-link:hover {
    color: var(--color-grey-dim);
    transform: scale(1.1, 1.1);
}
