/* First level elements */
#blog {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-areas:
        'gapL header gapR'
        'gapL nav gapR'
        'gapL main gapR'
        'gapL footer gapR';
    grid-template-rows: var(--header-height) var(--nav-height) 1fr var(
            --footer-height
        );
    grid-template-columns: 5vw 1fr 5vw;
    gap: 50px;
}

#blog > header {
    grid-area: header;
    background-color: #8ca0ff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#blog > nav {
    grid-area: nav;
    background-color: #ffa08c;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#blog > main {
    grid-area: main;
    background-color: #ffff64;
}

#blog > footer {
    grid-area: footer;
    background-color: #8cffa0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Classes */
.nav-link {
    display: inline-block;
    padding: 5px;
}
