/* First level elements */
#blog {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-areas:
        'gapL header gapR'
        'gapL nav gapR'
        'gapL main gapR'
        'gapL footer gapR';
    grid-template-rows: var(--header-height) var(--nav-height) 1fr var(
            --footer-height
        );
    grid-template-columns:
        minmax(3vw, 1fr) minmax(var(--min-width), var(--max-width))
        minmax(3vw, 1fr);
}

#blog > header {
    grid-area: header;
    border-bottom: 1px solid var(--color-black-turtle);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#blog > nav {
    grid-area: nav;
    border-bottom: 1px solid var(--color-black-turtle);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#blog > main {
    grid-area: main;

    padding: 100px 0;
    border-bottom: 1px solid var(--color-black-turtle);
}

#blog > footer {
    grid-area: footer;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 100px;
}

/* Classes */
.blog__header-1 {
    margin: 0 0 2px 0;

    font-family: 'Roboto';
    font-weight: 100;
    font-size: 55px;

    text-align: center;
}

.blog__header-2 {
    margin: 0;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;

    text-align: center;
    color: var(--color-teal-turtle);
}

.blog__nav-link {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-lime-turtle);

    padding: 5px;

    transition: all 0.15s ease-in;
}
.blog__nav-link:hover {
    color: var(--color-green-turtle);
    transform: scale(1.1, 1.1);
}

.blog__footer-contact {
    font-size: 30px;
    border-bottom: 2px solid var(--color-black-turtle);

    padding-bottom: 30px;
    margin-bottom: 30px;
}

.blog__footer-social {
    width: 300px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.blog__footer-social--icon {
    display: block;
    width: 30px;
    height: 30px;

    color: var(--color-lime-turtle);

    transition: all 0.15s ease-in;
}
.blog__footer-social--icon:hover {
    color: var(--color-green-turtle);
    transform: scale(1.1, 1.1);
}

.blog__footer-brand {
    font-weight: 500;
    margin-top: 60px;
}
