/* Normalize styles */
@import '~normalize.css';

/* Prism.js - code highlighting */
/* include CSS for prism toolbar */
@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';
/* check node_modules/prismjs/themes/ for the available themes */
@import './my-prism-theme.css';

/* Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMono';
    src: url('./assets/fonts/RobotoMono-VariableFont_wght.ttf')
        format('truetype');
}

/* Variables */
:root {
    /* Measurments */
    --header-height: 300px;
    --nav-height: 100px;
    --footer-height: 400px;

    --min-width: 300px;
    --max-width: 700px;

    /* Color palette */
    --color-black-snail: #130c07;
    --color-gold-snail: #ecb42c;
    --color-brown-snail: #9c6757;
    --color-maroon-snail: #7c1a07;
    --color-tan-snail: #f9efd1;
    --shadow-black-snail: rgb(19, 12, 7, 0.3);

    --color-tan-dark-snail: #d8d0b7; /* code only */
}

/* Defaults */
:root {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: var(--color-black-snail);
}

a {
    font-weight: 500;
    transition: all 0.15s ease-in;
}
a:link {
    color: var(--color-gold-snail);
}
a:visited {
    color: var(--color-gold-snail);
}
a:hover {
    color: var(--color-brown-snail);
}
a:active {
    color: var(--color-brown-snail);
}
