/* Global Styles */
@import '~normalize.css';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

/* Variables */
:root {
    --header-height: 175px;
    --nav-height: 100px;
    --footer-height: 50px;

    --color-white-saturated: rgb(238, 238, 238);
    --color-grey-dark: rgb(169, 169, 169);
    --color-grey-dim: rgb(105, 105, 105);
    --color-black-night: rgb(12, 9, 10);
    --color-khaki-clasic: rgb(240, 230, 140);
    --color-khaki-dark: rgb(189, 183, 107);

    --shadow-black-night: rgba(12, 9, 10, 0.3);
    --shadow-khaki-dark: rgba(189, 183, 107, 0.3);
}

:root {
    font-family: 'Lato', sans-serif;
    background-color: var(--color-silver-basic);
    color: var(--color-black-night);
}
