/* Normalize styles */
@import '~normalize.css';

/* Prism.js - code highlighting */
/* include CSS for prism toolbar */
@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';
/* check node_modules/prismjs/themes/ for the available themes */
@import './my-prism-theme.css';

/* Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMono';
    src: url('./assets/fonts/RobotoMono-VariableFont_wght.ttf')
        format('truetype');
}

/* Variables */
:root {
    --header-height: 300px;
    --nav-height: 100px;
    --footer-height: 400px;

    --min-width: 300px;
    --max-width: 700px;

    --color-white-bright: rgba(248, 248, 248);
    --color-white-saturated: rgb(238, 238, 238);
    --color-grey-dark: rgb(169, 169, 169);
    --color-grey-dim: rgb(105, 105, 105);
    --color-black-night: rgb(12, 9, 10);
    --color-green-moss: rgb(138, 154, 91);
    --color-green-moss-old: rgb(134, 126, 54);
    --color-green-moss-dark: rgb(74, 93, 35);
    --color-blue-pale: rgb(52, 87, 139);
    --color-blue-pastel: rgb(81, 100, 129);

    --shadow-black-night: rgba(12, 9, 10, 0.3);
    --shadow-green-moss-dark: rgba(55, 70, 26, 0.3);
}

/* Defaults */
:root {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white-saturated);
    color: var(--color-black-night);
}

a {
    font-weight: 500;
    transition: all 0.15s ease-in;
}
a:link {
    color: var(--color-green-moss-old);
}
a:visited {
    color: var(--color-green-moss-old);
}
a:hover {
    color: var(--color-green-moss-dark);
}
a:active {
    color: var(--color-green-moss-dark);
}
