#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    width: 300px;

    font-size: 16px;
}

.home__row-word {
    width: 90px;
    text-align: center;
}

.home__image {
    width: 75px;
    height: 75px;
    object-fit: contain;
}
