#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__text {
    font-size: 16px;
}

.home__emoji {
    margin: 0;
    font-size: 50px;
}
